In [1]:
import pandas as pd
from matplotlib import pyplot as plt
plt.style.use('ggplot')
%matplotlib inline
import pylab
pylab.rcParams['figure.figsize'] = (12.0, 6.0)

In [3]:
trans = pd.DataFrame.from_csv('../data/raw_committee_transactions.csv')
trans.describe()

/home/thunder/anaconda3/lib/python3.5/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (16,19,24) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

,original_id,amount,aggregate_amount,contributor_payee_committee_id,filer_id,check_nbr,zip,zip_plus_four,exp_date
count,977337.000000,977337.000000,977337.000000,94832.000000,977337.000000,1.855590e+05,699206.000000,21794.000000,0
mean,1122072.520231,1053.874716,4837.972292,5527.963135,7043.355388,5.687585e+06,94101.176712,4276.766358,NaN
std,554621.433813,13955.958487,72949.753920,5608.257432,6106.562246,7.675640e+08,14429.060711,3060.712691,NaN
min,41.000000,-43771.050000,0.000000,3.000000,3.000000,0.000000e+00,0.000000,-159.000000,NaN
25%,709522.000000,30.000000,0.000000,353.000000,682.000000,1.056000e+03,97086.000000,1672.000000,NaN
50%,1148785.000000,116.770000,200.000000,3781.000000,4572.000000,1.481000e+03,97223.000000,3726.000000,NaN
75%,1584488.000000,494.500000,727.890000,11748.000000,13926.000000,2.745500e+03,97401.000000,6989.000000,NaN
max,2049796.000000,4460000.000000,12453172.000000,17447.000000,17462.000000,2.942193e+11,99999.000000,9998.000000,NaN

In [4]:
description = trans.describe()
samples = trans[description.columns].sample(1000)
samples[:10]

,original_id,amount,aggregate_amount,contributor_payee_committee_id,filer_id,check_nbr,zip,zip_plus_four,exp_date
tran_id,,,,,,,,,
1959772,1959772,21.00,136.55,NaN,4572,NaN,97005,NaN,NaN
1531074,1531074,35.03,0.00,NaN,350,NaN,NaN,NaN,NaN
415699,415699,250.00,0.00,NaN,4727,NaN,NaN,NaN,NaN
1444771,1444771,1000.00,1000.00,11,13967,NaN,97309,NaN,NaN
776932,776932,79.83,230.65,NaN,5079,2530,97016,NaN,NaN
945232,945232,122.50,1117.50,NaN,39,NaN,97501,NaN,NaN
1544008,1544008,395.00,790.00,NaN,4014,2526,97501,NaN,NaN
1565934,1565934,11.00,152.75,NaN,4572,NaN,98684,NaN,NaN
718792,718792,750.00,943.00,NaN,11708,1290,97310,NaN,NaN
1504317,1504317,25.00,125.00,NaN,14575,NaN,97212,NaN,NaN

In [ ]:
samples = samples.sort_index()
samples.describe()
samples['aggregate_amount'].plot()